{% for host in autoreadme_limit %}

### {{ hostvars[host].group_names[0] }}/{{ hostvars[host].inventory_hostname }}

- Configuration: [host_vars/{{ hostvars[host].inventory_hostname }}/](host_vars/{{ hostvars[host].inventory_hostname }}/)
- IP addresses: `{{ ', '.join(hostvars[host]['ansible_facts']['all_ipv4_addresses'] | default('')) }}`
- Comments: {{ hostvars[host].autoreadme_comment|default ('') }}
- OS/Virtualization: {{ hostvars[host]['ansible_facts']['lsb']['description'] | default('') }} ({{ hostvars[host]['ansible_facts']['virtualization_type'] | default('') }} {{ hostvars[host]['ansible_facts']['virtualization_role'] | default('') }})
- SSH: `ssh -p {{ hostvars[host].ansible_ssh_port|default('22') }} {{ hostvars[host].ansible_user | default('') }}@{{ hostvars[host].inventory_hostname }}`
- SFTP: `sftp://{{ hostvars[host].ansible_user | default('') }}@{{ hostvars[host].inventory_hostname }}:{{ hostvars[host].ansible_ssh_port|default('22') }}`
{% if hostvars[host]['ansible_facts']['ansible_local']['netdata']['ansible_managed'] is defined %}
- Monitoring: https://{{ hostvars[host].ansible_host|default(hostvars[host].inventory_hostname) }}:{{ hostvars[host].autoreadme_netdata_public_port|default('19999') }}
{% endif %}
{% if hostvars[host]['ansible_facts']['ansible_local']['gitea']['fqdn'] is defined %}
- Gitea: https://{{ hostvars[host]['ansible_facts']['ansible_local']['gitea']['fqdn'] }}
{% endif %}
{% if hostvars[host]['ansible_facts']['ansible_local']['gotty']['fqdn'] is defined %}
- Gotty: https://{{ hostvars[host]['ansible_facts']['ansible_local']['gotty']['fqdn'] }}
{% endif %}
{% if hostvars[host]['ansible_facts']['ansible_local']['graylog']['fqdn'] is defined %}
- Graylog: https://{{ hostvars[host]['ansible_facts']['ansible_local']['graylog']['fqdn'] }}
{% endif %}
{% if hostvars[host]['ansible_facts']['ansible_local']['jellyfin']['fqdn'] is defined %}
- Jellyfin: https://{{ hostvars[host]['ansible_facts']['ansible_local']['jellyfin']['fqdn'] }}
{% endif %}
{% if hostvars[host]['ansible_facts']['ansible_local']['ldap_account_manager']['fqdn'] is defined %}
- LDAP Account Manager: https://{{ hostvars[host]['ansible_facts']['ansible_local']['ldap_account_manager']['fqdn'] }}
{% endif %}
{% if hostvars[host]['ansible_facts']['ansible_local']['self_service_password']['fqdn'] is defined %}
- LDAP Self-Service Password: https://{{ hostvars[host]['ansible_facts']['ansible_local']['self_service_password']['fqdn'] }}
{% endif %}
{% if hostvars[host]['ansible_facts']['ansible_local']['nextcloud']['fqdn'] is defined %}
- Nextcloud: https://{{ hostvars[host]['ansible_facts']['ansible_local']['nextcloud']['fqdn'] }}
{% endif %}
{% if hostvars[host]['ansible_facts']['ansible_local']['rocketchat']['fqdn'] is defined %}
- Rocket.chat: https://{{ hostvars[host]['ansible_facts']['ansible_local']['rocketchat']['fqdn'] }}
{% endif %}
{% if hostvars[host]['ansible_facts']['ansible_local']['rss_bridge']['fqdn'] is defined %}
- RSS-Bridge: https://{{ hostvars[host]['ansible_facts']['ansible_local']['rss_bridge']['fqdn'] }}
{% endif %}
{% if hostvars[host]['ansible_facts']['ansible_local']['shaarli']['fqdn'] is defined %}
- Shaarli: https://{{ hostvars[host]['ansible_facts']['ansible_local']['shaarli']['fqdn'] }}
{% endif %}
{% if hostvars[host]['ansible_facts']['ansible_local']['transmission']['fqdn'] is defined %}
- Transmission: https://{{ hostvars[host]['ansible_facts']['ansible_local']['transmission']['fqdn'] }}
{% endif %}
{% if hostvars[host]['ansible_facts']['ansible_local']['tt_rss']['fqdn'] is defined %}
- Tiny Tiny RSS: https://{{ hostvars[host]['ansible_facts']['ansible_local']['tt_rss']['fqdn'] }}
{% endif %}

{% endfor %}


## SSH client configuration

```
{% for host in autoreadme_limit %}
Host {{ hostvars[host].inventory_hostname }}
    HostName {{ hostvars[host].ansible_host | default(hostvars[host].inventory_hostname) }}{{ '
    User ' + hostvars[host].ansible_user if hostvars[host].ansible_user is defined }}
    Port {{ hostvars[host].ansible_ssh_port | default('22') }}

{% endfor %}
```
