<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Valheim server</short>
  <description>Valheim server</description>
  <port port="2456-2458" protocol="udp"/>
  <port port="27036" protocol="tcp"/>
</service>
