# certtool Certificate signing request (CSR) template

# The organization of the subject.
organization = "{{ item.organization}}"

# The organizational unit of the subject.
unit = "{{ item.unit }}"

# The locality of the subject.
locality = "{{ item.locality }}"

# The state of the certificate owner.
state = "{{ item.state }}"

# The country of the subject. Two letter code.
country = {{ item.country }}

# The common name of the certificate owner.
cn = "{{ item.name }}"

# In how many days, counting from today, this certificate will expire.
# Use -1 if there is no expiration date.
expiration_days = {{ item.expiration_days | default('-1') }}

# A dnsname in case of a WWW server.
dns_name = "{{ item.name }}"

# Whether this certificate will be used for a TLS client;
# this sets the id-kp-serverAuth (1.3.6.1.5.5.7.3.1) of 
# extended key usage.
tls_www_client

# Whether this certificate will be used for a TLS server;
# This sets the id-kp-clientAuth (1.3.6.1.5.5.7.3.2) of 
# extended key usage.
tls_www_server
