[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox (Profile Manager)
Comment=
Exec=firefox --no-remote -P
Icon=firefox
Path=
Terminal=false
StartupNotify=true
