[Desktop Entry]
Version=1.0
Type=Application
Name=Generate random passwords
Name[fr]=Générer des mots de passe
Comment=Generate random passwords (pwgen)
Comment[fr]=Générer des mots de passe aléatoires (pwgen)
Exec=generate-passwords-gui.sh
TryExec=gpwgen
Icon=password
Terminal=false
StartupNotify=false
