# Systemd service for reverse SSH tunnel
# Enable with systemctl enable --now tunnel.service
[Unit]
Description=Reverse Tunnel
After=network-online.target
[Service]
ExecStart=/usr/bin/ssh -f -N -T -R 2000:localhost:22 remote.example.com
Restart=Always
# prevents the service from disabling itself after too many/rapid failures (rate limiting)
RestartSec=10
