[Unit]
Description=maintenance reverse SSH tunnel
After=network.target

[Service]
User=labriche
ExecStart=/usr/bin/ssh -NTC -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=no -i %h/.ssh/id_rsa -R 19997:localhost:22 user@my.example.org

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
