- name: include variable checks tasks
  import_tasks: checks.yml
  tags:
    - planarally
    - checks

- name: include planarally configuration tasks
  import_tasks: planarally.yml
  become: yes
  tags: planarally

- name: include self-signed certificates configuration tasks
  import_tasks: ssl-selfsigned.yml
  become: yes
  tags:
    - apache
    - ssl
    - planarally
  when:
    - planarally_https_mode == 'selfsigned'
    - ansible_local.apache.ansible_managed is defined
    - ansible_local.apache.ansible_managed | bool

- name: include apache configuration tasks
  import_tasks: apache.yml
  become: yes
  tags:
    - planarally
    - apache
    - planarally-apache
  when:
    - ansible_local.apache.ansible_managed is defined
    - ansible_local.apache.ansible_managed | bool

- name: include rsnapshot/backups configuration tasks
  import_tasks: backups.yml
  become: yes
  tags:
    - planarally
    - backup
  when:
    - ansible_local.backup.ansible_managed is defined
    - ansible_local.backup.ansible_managed | bool

# - name: include fail2ban configuration tasks
#   import_tasks: fail2ban.yml
#   become: yes
#   tags:
#     - planarally
#     - fail2ban
#   when:
#     - ansible_local.fail2ban.ansible_managed is defined
#     - ansible_local.fail2ban.ansible_managed | bool

- name: include ansible facts configuration tasks
  import_tasks: fact.yml
  become: yes
  tags: planarally

- name: apply configuration (flush handlers)
  meta: flush_handlers
  tags: planarally

##### UTILITIES ####
# These tasks are tagged 'never' and will never run unless one of their tags is explicitly passed on the command line
- name: include planarally uninstallation tasks
  import_tasks: utils-planarally-uninstall.yml
  become: yes
  tags:
    - never
    - utils-planarally-uninstall
