- name: import variable checks tasks
  import_tasks: checks.yml
  tags:
    - bitmagnet
    - checks

- name: import postgresql configuration tasks
  import_tasks: postgresql.yml
  become: yes
  tags:
    - bitmagnet
    - postgresql

- name: import bitmagnet installation tasks
  import_tasks: bitmagnet.yml
  become: yes
  tags: bitmagnet

- name: import self-signed certificates configuration tasks
  import_tasks: ssl-selfsigned.yml
  become: yes
  tags:
    - apache
    - ssl
    - bitmagnet
  when:
    - bitmagnet_https_mode == 'selfsigned'
    - ansible_local.apache.ansible_managed is defined
    - ansible_local.apache.ansible_managed | bool

- name: import apache configuration tasks
  import_tasks: apache.yml
  become: yes
  tags:
    - bitmagnet
    - apache
  when:
    - ansible_local.apache.ansible_managed is defined
    - ansible_local.apache.ansible_managed | bool

- name: include ansible facts configuration tasks
  import_tasks: fact.yml
  become: yes
  tags: bitmagnet

- name: apply configuration (flush handlers)
  meta: flush_handlers
  tags: bitmagnet
