- name: install vscodium APT repository signing key
  copy:
    src: usr_share_keyrings_vscodium-archive-keyring.gpg
    dest: /usr/share/keyrings/vscodium-archive-keyring.gpg
    owner: root
    group: root
    mode: "0644"

- name: add vscodium apt repository
  template:
    src: etc_apt_sources.list.d_vscodium.list.j2
    dest: /etc/apt/sources.list.d/vscodium.list
    owner: root
    group: root
    mode: "0644"
  notify: update apt cache

- name: apply configuration (flush handlers)
  meta: flush_handlers

# TODO set sysctl fs.inotify.max_user_watches=524288

- name: install vscodium
  apt:
    package: codium
    state: present
  ignore_errors: "{{ ansible_check_mode }}"
